//颜色
$base-color:#FF483C;
//渐变色
$base-background-color:linear-gradient(314deg, rgba(255, 101, 96, 1) 0%, rgba(255, 106, 67, 1) 100%);
//文字颜色
$base-title-color:black;
//普通文字颜色
$base-normal-color:grey;
//文字大小
$base-size-xxxl:64px;
$base-size-xxl:44px;
$base-size-xl:.34rem;
$base-size-l:.32rem;
$base-size-m:.28rem;
$base-size-s:.24rem;

// 颜色
$bottom-line-color: #ddd;
$letter-bg-color: #f4f4f4;
$letter-list-color: #666;

// 大小
$brand-list-height: 1rem;
$type-list-height: 1.4rem;
$letter-heigt: .4rem;